# D Specific
.dub
dub.selections.json
dub.userprefs

# Binaries
bin/
lib/
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.exe
*.pdb

# Linux Binaries
generator
godotbin

# Generated
extension_api.json
docs.json
classes/

#

.directory
.settings

#

godot-dlang.dlangidews
godot-dlang.dlangidews.wssettings
godot-dlang.settings

#

__dummy.html
__test__*__
examples/dlangtest/

# Godot
examples/*/project/.import/*
examples/*/project/logs/*
examples/**/.godot
