.directory
.dub
dub.selections.json
.settings
dub.userprefs
godot-dlang.dlangidews
godot-dlang.dlangidews.wssettings
godot-dlang.settings
docs.json
__dummy.html
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.exe
*.pdb
__test__*__
godot-dlang_generator
extension_api.json
examples/*/project/.import/*
examples/*/project/logs/*
examples/**/.godot
examples/dlangtest/
classes